@page "/"
@inject IJSRuntime jsRuntime

<h1>Tableau Example</h1>

<p>
    This sample was created as a test to help answer StackOverflow question at
    https://stackoverflow.com/questions/58519173/how-to-embed-tableau-into-asp-net-core-blazor
</p>

<div style="width:800px; height:700px;" @ref="vizContainer"></div>

@code
{
    /// <summary>
    /// this is bound to the vizContainer div
    /// </summary>
    ElementReference vizContainer;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        const string url = "https://public.tableau.com/views/RegionalSampleWorkbook/Storms";
        
        Console.WriteLine("Invoking initViz");
        
        // invoke the 'initViz' function - pass the vizContainer element and the URL
        // note I adjusted the sample URL to https 
        await jsRuntime.InvokeVoidAsync("initViz", vizContainer, url);

        Console.WriteLine("Invoked initViz");

        await base.OnAfterRenderAsync(firstRender);
    }
}